<div class="invalidResourceError">
  {{#each errors}}
  <p>{{this}}</p>
  {{/each}}
</div>

<section id="spotsList">
  <h1 class="page_title">Contest Spots</h1>
  {{#if spots.length}}
  <ul>
    {{#each spots}}
    <li>
      <h2><a href="/contest/submissions/{{this._id}}">
          {{this.name}}
        </a></h2>
      <img src="{{this.images.0.url}}" alt="{{this.name}} top image"
        onerror="this.onerr=null; this.src='/public/images/no_image_avaliable.jpeg" />

      <div class="spot-info">
        <p>Tags:
          {{#each this.tags}} <span>{{this}}</span> {{/each}}
        </p>
        <p>Average Rating: {{this.averageRating}} out of 10</p>
        <p> Posted on {{this.createdAt}}</p>
      </div>
    </li>
    {{/each}}
  </ul>
  {{else}}
  <p>No spots available.</p>
  {{/if}}
</section>