<li data-id="{{_id}}">
    <div class="submitted-item">
        <div class="submitted-content">
            <img alt="{{firstName}} {{lastName}}'s contest submission image" src="{{url}}">
        </div>
        <div class="submitted-meta ">
            <p>Posted by {{firstName}} {{lastName}}</p>
            <p>Posted at {{createdAt}}</p>
        </div>
    </div>
</li>