<section>
  <h1>Sign Up</h1>
  <form method="POST">
    <label>
      First Name
      <input
        type="text"
        name="firstName"
        placeholder="First Name"
        value="{{data.firstName}}"
      />
    </label>

    <label>
      Last Name
      <input
        type="text"
        name="lastName"
        placeholder="Last Name"
        value="{{data.lastName}}"
      />
    </label>

    <label>
      Username
      <input
        type="text"
        name="username"
        placeholder="Username"
        value="{{data.username}}"
      />
    </label>

    <label>
      Password
      <input
        type="password"
        name="password"
        placeholder="Password"
        value="{{data.password}}"
      />
    </label>
    <button type="submit">Sign up</button>
    <button type="reset">Clear Form</button>
  </form>
  {{#if hasErrors}}
    <ul>
      {{#each errors}}
        <li>
          {{this}}
        </li>
      {{/each}}
    </ul>
  {{/if}}

</section>