<div class="invalidResourceError">
  {{#each invalidResourceErrors}}
  <p>{{this}}</p>
  {{/each}}
</div>

<div class="search-and-filter">
  <form id="filterForm" action="/spots/search" method="GET">
    <input type="text" name="keyword" placeholder="Search for spots..." value="{{keyword}}">

    <button type="button" id="filterButton">Filter Options</button>
    <div id="filterOptions" hidden="true">
      {{> filterOptions }}
    </div>
    <button type="submit">Search</button>
  </form>
</div>



<div>
  {{#if errors}}
  {{#each errors}}
  <p class="formInputError">{{this}}</p>
  {{/each}}
  {{/if}}
</div>

<section id="spotsList">
  {{#if spots.length}}
  <ul>
    {{#each spots}}
    <li>
      <h2><a href="/spots/details/{{this._id}}">
          {{this.name}}
        </a></h2>
      <img src="{{this.images.0.url}}" alt="{{this.name}} top image"
        onerror="this.onerr=null; this.src='/public/images/no_image_avaliable.jpeg" />

      <div class="spot-info">
        <p>Tags:
          {{#each this.tags}} <span>{{this}}</span> {{/each}}
        </p>
        <p>Average Rating: {{this.averageRating}} out of 10</p>
        <p> Posted on {{this.createdAt}}</p>
      </div>
    </li>
    {{/each}}
  </ul>
  {{else}}
  <p>No spots available.</p>
  {{/if}}
</section>