<div class="search-and-filter">
  <form id="filterForm" action="/spots/search" method="GET">
    <input type="text" name="keyword" placeholder="Search for spots..." value="{{keyword}}">

    <button type="button" id="filterButton" onclick="toggleFilter()">Filter Options</button>
    <div id="filterOptions" hidden="true">
      {{> filterOptions }}
    </div>
    <button type="submit">Search</button>
  </form>
</div>



<div>
  {{#if errors}}
  {{#each errors}}
  <p class="formInputError">{{this}}</p>
  {{/each}}
  {{/if}}
</div>

<section id="spotsList">
  {{#if spots.length}}
  <ul>
    {{#each spots}}
    <li>
      <h2>{{this.name}}</h2>
      <p>Images:
        {{#each this.images}} <span>{{this}}</span> {{/each}}
      </p>

      <p>Tags:
        {{#each this.tags}} <span>{{this}}</span> {{/each}}
      </p>
      <p>Ratings: {{this.avgRating}}</p>
      <p> Date Posted: {{this.createdAt}}</p>
    </li>
    {{/each}}
  </ul>
  {{else}}
  <p>No spots available.</p>
  {{/if}}
</section>

<script>
  function toggleFilter() {
    const filterOptions = document.getElementById('filterOptions');
    const searchButton = document.getElementById('spotsSearchButton');

    if (filterOptions.hasAttribute('hidden')) {
      filterOptions.removeAttribute('hidden');
      searchButton.value = "Apply Filters";
    } else {
      filterOptions.setAttribute('hidden', true);
      searchButton.value = "Search";
    }
  }
</script>

<script type="module" src="/public/js/spots/filters.js"></script>